
  
.about-title {
    color: black;
    justify-content: center;
    font-size: 30px;
    padding-top: 100px;
  }

  .kingdom
  {
  background-color: rgb(155, 36, 36);
  background-image: src(5.png);
  }
   

  